* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  cursor: pointer;
  height: 40px;
  width: 150px;
  border: none;
  border-radius: 40px;
}

.link {
  text-decoration: none;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.input-container {
  display: flex;
}

.error-message {
  color: red;
}
